@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #eee;
}
.heart {
  position: relative;
  background-color: rgb(223, 1, 1);
  width: 100px;
  height: 100px;
  transform: rotate(45deg) scale(1);
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  0 {
    transform: rotate(45deg) scale(1);
  }
  10% {
    transform: rotate(45deg) scale(1.1);
  }
  20% {
    transform: rotate(45deg) scale(0.9);
  }
  30% {
    transform: rotate(45deg) scale(1.2);
  }
  40% {
    transform: rotate(45deg) scale(0.9);
  }
  50% {
    transform: rotate(45deg) scale(1.05);
  }
  60% {
    transform: rotate(45deg) scale(0.95);
  }
  70% {
    transform: rotate(45deg) scale(1);
  }
}

.heart::before {
  position: absolute;
  border-radius: 50%;
  background-color: inherit;
  content: "";
  top: -50%;
  left: 0;
  width: 100px;
  height: 100px;
}
.heart::after {
  position: absolute;
  border-radius: 50%;
  background-color: inherit;
  content: "";
  top: 0;
  left: -50%;
  width: 100px;
  height: 100px;
}
