@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
  height: 100vh;
  background-color: skyblue;
  overflow-x: hidden;
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  font-weight: bold;
  margin: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.overlay {
  z-index: 2;
}
.line {
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
  width: 0%;
  height: 2vh;
  animation: slideIn 3s linear infinite;
  z-index: 2;
}
@keyframes slideIn {
  to {
    width: 109%;
  }
}
